body {
  background-color: rgba(255, 245, 245, 0.87);
}
.input_img {
  text-align: center;
}

.wrapper {
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.img_title {
  opacity: 0.5;
}
.word_title {
  text-align: center;
}
.left_div {
  height: 500px;
  width: 100px;
  border: 1px solid rgb(0, 0, 0);
}
.right_div {
  height: 500px;
  width: 100px;
  border: 1px solid rgb(0, 0, 0);
}
#divUL {
  text-align: center;
  margin: auto;
  overflow: auto;
  height: 800px;
  width: 80%;
  border: 2px solid rgb(0, 0, 0);
}
.img_text {
  float: left;
  border: 1px solid rgb(51, 250, 78);
  height: 200px;
  width: 200px;
  /* text-align: center; */
}
.img_hw {
  /* text-align:center; */
  max-width: 160px;
  max-height: 140px;
  left: 50%;
  position: absolute;
  bottom: 0;
  transform: translate(-50%);
}
.img_div {
  height: 80%;
  position: relative;
}
